/* Reset de estilos padrão */
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: auto;
}

.chat {
  width: 90%;
  height: 90%;
  background-color: white;
  box-sizing: border-box;
}

/* Estilo do container principal */
.container {
  text-align: center;
  margin: auto;
}

/* Estilo das caixas de texto e botão */
textarea, button {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
}

/* Estilo das caixas de texto */
textarea {
  height: 100px;
}

/* Estilo do botão */
button {
  background-color: #97ff93;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3da339;
  color: #fff;
}

/* Estilo das labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

img{
  max-width: 200px;
}