/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #dd6cb9, #d35fb9, #c853b9, #bb47ba, #ad3cbc, #a23cc0, #953dc3, #873ec7, #7b47cc, #6d4ed0, #5f55d3, #4f5bd5);
}



.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    max-width: 90%;
}

 button[type="submit"] {
    background-color: #8774e1;;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;

}

button:hover {
    background-color: #DB6AB9;
    color: #fff;
}

.login-container img{
    max-width: 150px;
    float: left;
    margin-left:11px ;
}
