body {
  font-family: Arial, sans-serif;
  background-color: #212121;
  margin: 0;
  padding: 0;
  background-color: #7E6DD1;
  background-image: url(./images/canvas2.png);
  background-size: 110cqh;

}

.container {
  max-width: 800px; 
  margin: 0 auto;
  padding: 20px;
  background-color:#333;
  border-radius: 10px;
  margin-top: 30px;
  
}

.mensagens {
  display: flex;
  align-items: center;
  background-color: #333;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

#mensagem {
  flex: 1;
  border: none;
  border-radius: 3px;
  padding: 8px;
  font-size: 14px;
}

.visualizar {
  min-height: 69.2vh;
  max-height: 69.2vh;
  overflow-y: auto;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  background-color: #000000;
  
}

/* Estilização das mensagens */
.mensagem {
  background-color: #8774e1;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
  max-width: 80%;
}



/* Estilização do nome do remetente */
.nome-remetente {
  font-weight: bold;
  color: #333;
}

/* Estilização do timestamp das mensagens */
.timestamp {
  font-size: 12px;
  color: #777;
}

/* Estilização das mensagens enviadas pelo usuário */
.mensagem-enviada {
  background-color:#7E6DD1 ;
  color: #fff;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
  margin-left: auto;
  max-width: 55%;
}

/* Estilização das mensagens recebidas de outras pessoas */
.mensagem-recebida {
  background-color: #414141;
  color: #f5f5f5;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 10px;
  margin-right: auto; 
  width: auto;
  max-width: 55%;

}

/* Estilização do nome do remetente nas mensagens recebidas */
.mensagem-recebida .nome-remetente {
  font-weight: bold;
  color: #8774e1;
}

/* Estilização do timestamp nas mensagens recebidas */
.mensagem-recebida .timestamp {
  font-size: 12px;
  color: #777;
}

button[type="submit"] {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

button[type="submit"] .enviar {
  width: 40px;
  height: 40px; 
  background-image: url('./images/enviar2.png'); 
  background-size: cover;
}

h1 {
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  color: #ffffff; /* Cor do texto */
  margin-bottom: 10px; /* Espaçamento inferior */
  text-align: center; /* Centralizar o texto */
}

a{
  font-size: 24px; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  color: #7E6DD1; /* Cor do texto */
  margin-bottom: 10px; /* Espaçamento inferior */
  text-align: center; /* Centralizar o texto */
}